@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.container {
  width: 1170px;
  height: 665px;
  margin: 0 8vw;
  border: 2px solid black;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
}
hr {
  width: 170px;
  border-color: #ec7979;
}
h5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #86878b;
}
.first {
  margin-left: 30px;
  float: left;
  text-align: center;
  align-items: center;
  width: 370px;
  height: 383px;
  left: 171px;
  right: 969px;
}
.second {
  float: left;
  text-align: center;
  width: 370px;
  height: 383px;
  left: 571px;
  right: 569px;
}
.third {
  text-align: center;
  float: left;
  width: 370px;
  height: 383px;
  left: 971px;
  right: 169px;
}
h4 {
  font-family: "Open Sans", sans-serif;
  width: 369px;
  height: 100px;
  font-size: 24px;
  line-height: 33px;
}
h5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
}
